.git*            export-ignore

*                text=auto

*.dll            binary    -whitespace
*.exe            binary    -whitespace
*.pdb            binary    -whitespace

*.bat            text      -whitespace  eol=crlf
*.dll.config     text      -whitespace
*.exe.config     text      -whitespace
*.rtf            text
*.txt            text
*.xml            text      -whitespace

LICENSE          text
NOTICE           text
README           text

NUnitTests.*     text      -whitespace
